.side-bar

  .header-box
    %h3.header-box__name
      aaaa
    %ul.header-box__icon
      %li.list
        =link_to '#' do
          = icon('fa', 'edit',class: 'icon')
      %li.list
        = link_to '#' do
          = icon('fas', 'cog', class: 'icon')


  .groups
    .group
      %h3.group__name
        aaa
      %h3.group__comment
        dada